<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>About</h1>
    <p>Description</p>
    <a href="./perfil">Perfil</a>
    <a href="./hello">Introduction</a>
</body>

</html>