<html>
    <head>
        <title>Sobre</title>
    </head>
    <body>
        <h1>Sobre</h1>
        <p>Descrição da empresa</p>
        <a href="./products">Perfil</a>
        <br>
        <a href="./hello">Introduction</a>
        <br>
        <a href="https://kainanrodrigues.com/">Site Pessoal</a>
    </body>
</html>
