<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/stylesheets/styleProducts.css">
</head>

<body>
    <h1>Hello World</h1>
    <p>This is my first HTML!!</p>
    <img src="https://plugcitarios.com/blog/wp-content/uploads/2015/03/1410967177-dragonballzgif-0.gif"
        alt="Dragon Ball Z GIF">
    <p class="italic">By Kainan Rodrigues</p>
</body>

</html>