<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <link rel='stylesheet' href='/stylesheets/styleProducts.css' />
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Este é meu primeiro HTML!!</p>
        <img src="https://plugcitarios.com/blog/wp-content/uploads/2015/03/1410967177-dragonballzgif-0.gif" alt="">
    </img>
        <p class="italic">By Kainan Rodrigues</p>
    </body>
</html>

