<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/styleUser.css">
</head>

<body>
  <nav>
    <a href="about">About</a>
    <a href="hello">Hello World</a>
  </nav>
  <h1>Profile</h1>
  <img
    src="https://scontent.fqcj4-1.fna.fbcdn.net/v/t1.0-9/121809132_1855586137949935_4325804448772679145_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHkIHXIlpa5py6Sh5mV5GdkOuRh_Y8_dWA65GH9jz91YNEO6mNw-DWCWF-LgKQe7pxGQzNR2ggwUDmr-l4-PXOy&_nc_ohc=Jl0B7MeCfFYAX9V_brR&_nc_ht=scontent.fqcj4-1.fna&oh=c5470749728b5fb21c1a63cffec7561d&oe=6030138A"
    height="200" width="200" alt="Photo of Kainan Rodrigues" />

  <p>My name is <strong>Kainan Rodrigues</strong>
    <br />
    Age: <strong>22</strong>
    <br />
    Marital Status: <strong>Single</strong>
  </p>

  <h3>Skills</h3>
  <ul>
    <li>Graphic Designer</li>
    <li>HR Assistant</li>
    <li>Aspiring Programmer</li>
    <li>CS:GO Player</li>
  </ul>

  <h3>Sports I Practice</h3>
  <ol type="I">
    <li>Volleyball</li>
    <li>Soccer</li>
    <li>Basketball</li>
    <li>Tennis</li>
    <li>Skateboarding</li>
    <li>Swimming</li>
  </ol>
</body>

</html>