<!DOCTYPE html>
<html>
    <head>
        <title>Perfil</title>
    </head>
    <body>
        <a href="about">Sobre</a>
        <a href="hello">Hello World</a>
        <a href="https://kainanrodrigues.com/">Site Pessoal</a>
        <h1>Perfil</h1>
        <img 
        src="https://scontent.fqcj4-1.fna.fbcdn.net/v/t1.0-9/121809132_1855586137949935_4325804448772679145_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHkIHXIlpa5py6Sh5mV5GdkOuRh_Y8_dWA65GH9jz91YNEO6mNw-DWCWF-LgKQe7pxGQzNR2ggwUDmr-l4-PXOy&_nc_ohc=Jl0B7MeCfFYAX9V_brR&_nc_ht=scontent.fqcj4-1.fna&oh=c5470749728b5fb21c1a63cffec7561d&oe=6030138A" 
        height="200" 
        width="200" 
        alt="Foto de Kainan Rodrigues"/>

        <p>Meu nome é <strong>Kainan Rodrigues</strong>
        <br/>
        Idade: <strong>18</strong>
        <br/>
        Estado civil: <strong>Solteiro</strong>
        <h3>Qualidades</h3>
        <ul>
            <li>Designer Gráfico</li>
            <li>Auxiliar em DP</li>
            <li>Aspirante a Programador</li>
            <li>Jogador de CS:GO</li>
        </ul>
        <h3>Esportes que pratico</h3>
        <ol type="I">
            <li>Volei</li>
            <li>Futebol</li>
            <li>Basquetebol</li>
            <li>Tenis</li>
            <li>Skateboard</li>
            <li>Natação</li>
        </ol>
    </p>
    </body>
</html>

<!--
    Height: Altura;
    Width: Largura;
-->
<!--Assim que se comenta!!-->